<div style="padding-left: 50px; padding-right: 50px">
    <mat-list>
        <h3 mat-subheader>Users List</h3>
        <mat-list-item (click)="userDetail(user)" *ngFor="let user of users">
          <img mat-list-avatar [src]="user.picture.medium" />
          <h4 mat-line>First name: {{user.name.first}} Last name: {{user.name.last}}</h4>
          <p mat-line> Phone: {{user.phone}} Email: {{user.email}}</p>
          <button mat-raised-button color="basic" (click)="userDetail(user)">Detail</button>
        </mat-list-item>
      </mat-list>
      
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="nextPage($event)">
      </mat-paginator>
</div>

<router-outlet></router-outlet>
