<div class="list">
    <mat-list>
        <h3 mat-subheader>Users</h3>
        <mat-list-item (click)="userDetail(user)" *ngFor="let user of users">
          <img mat-list-avatar [src]="user.picture.medium" />
          <h3 mat-line><strong>{{user.name.first}} {{user.name.last}}</strong></h3>
          <p mat-line> <u> Phone:</u> {{user.phone}} <u> Email: </u> {{user.email}}</p>
          <button mat-raised-button color="basic" (click)="userDetail(user)">Detail</button>
        </mat-list-item>
      </mat-list>
      
      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     [pageIndex]="pageIndex"
                     (page)="nextPage($event)">
      </mat-paginator>
</div>

<router-outlet></router-outlet>
